{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} > Ajouter une dépense
{% endblock %}

{% block body %}
    <h1>Ajouter une dépense</h1>
    {{ form_start(expenseForm) }}
        {{ form_widget(expenseForm) }}
    {{ form_end(expenseForm) }}
{% endblock %}
